<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
        <title>Ejercicio 01b</title>
        <meta name="author" content="Eleonora">
        <meta name="keywords" content="">
        <meta name="description" content="">
        
        <!-- ********** icona **********  -->
        <link rel="shortcut icon" href="icona.ico">
        <!-- ********** CSS ********** -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
		
		<!-- ********** Angular ********** -->
		<script src="../../node_modules/angular/angular.js"></script>
		<!-- ********** JavaScript ********** -->
		<script src="js/index.js"></script>
		<script src="js/controlers.js"></script>


	</head>

	<!-- ng-init es un ANTIPATRON que no se debe utilizar -->
	<body ng-app="miApp" ng-controller="MainController">	 
		
		<div class="wrap">	
			<header>
				<h1>Pensamientos</h1>
			</header>
			<!-- como todos los metodos están en el article lo puedo poner aqui en lugar que body -->
			<article>
				<form name="formulario">
					<label for="sNombre">Indica tu nombre</label>
					<!-- asociamos el imput a una variable del modelo -->
					<input type="text" id="sNombre" ng-model="sNombre">
					<label for="sIdea">Comparte una idea</label>
					<input type="text" id="sIdea" ng-model="sIdea">
					<!-- aIdeas.push(sIdea); sIdea='' -->
					<button type="button" ng-click="botonAdd">Añadir</button>
				</form>

				<p>Hola <span id class="destacado">{{sNombre}}</span>.</p>
				
				<p>Pensamientos que has tenido: </p>
				<ul ng-repeat="idea in aIdeas track by $index"> 
					<li> Tu pensiamento numero {{$index + 1}} fue: {{idea}} </li>
				</ul>
				
			</article>
			<footer>
				<p>Eleonora Franchini</p>
			</footer>
		</div>

	</body>
</html>